# Configs have the following precedence:
#   The default config is in __init__.py
#   This is superceded by the user config (in ${llmd_config_dir}/config.yaml)
#   This is superceded by a project config (in ${PWD}/llmd-config.yaml)
#   This is superceded by the yaml header of the document
model: anthropic/claude-sonnet-4-5
# null maps to None, and any settings with None are deleted
# This can be used to delete a setting from a preceding config.
system: '{sys_python_prefs}'
options:
  max_tokens: 4096
  temperature: null
# Command to open the editor. Either a templated string with {markdown_filepath}
# or a bare string (the filepath will be inserted at the end)
# e.g. editor_cmd: vim +99999
# e.g. editor_cmd: code-oss-cloud-workstations -r -g {markdown_filepath}:99999 # For Google Cloud Workstations
# Set to null to unset
editor_cmd: code -r -g {markdown_filepath}:99999
# Entries with the prefix 'sys_' are reusable system snippets.
# They can be included in any system message using templating
# E.g. system: {sys_python_prefs} Only speak in French
sys_python_prefs: |
    These are my preferences for python:
    * Public python functions and methods should have numpy docstrings
    * docstrings should have examples for doctest
    * For packaging questions, use pyproject.toml with setuptools
    * Use uv for package handling
    * Add type hints to functions and methods
    * For type hints, don't use Union. Use the newer | syntax
    
    In answers adhere to these preferences but no need to refer back to them.

    Answers should be no longer than they need to be. If I've asked you to 
    solve a problem, don't give long explanations for your decisions. If I 
    need explanations I'll ask for them.

    If I've asked you for options you can give reasons but be succinct.
sys_short: Really short answer please.